nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #fff;
  border-bottom: 1px solid #e8e7e7;
  box-shadow: 0 0.6px 0.6px rgba(0, 0, 0, 0.1);
  a {
    color: #767676;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    &:hover {
      text-decoration: underline;
    }

    .span {
      font-weight: bold;
    }

    .spanLogo {
      color: #1fbd47;
    }
  }

  .signUpButton {
    color: white;
    background-color: #1fbd47;
    border: 0;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: darken(#1fbd47, 10%);
    }
  }
}
